
.header{
    font:bold 28px Helvetica, Arial, Verdana, Tahoma, sans-serif;
    border-bottom: 5px solid #ececec;
    padding: 20px 0 0 0;
    margin: auto;
    text-align: center;
    background-color: #5B3E38;
}
.error{
    display:none;
}
.spacer{
    height: 40px;
}
.maindiv{
    width: 1050px;
    text-align: center;
    margin: auto;
    background-color: #0E4E5A;
    padding: 30px 10px 30px 20px;
    border:3px solid #000306;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #1c140d;
    -webkit-box-shadow: 3px 3px 4px #1c140d;
    -moz-box-shadow: 3px 3px 4px #1c140d;
}
.gui{
}
.detailed-hud{
    padding-top: 5px;
    min-height: 150px;
    background-color: #000306;
    margin: 36px 0 0 30px;
}
.user-detail{
    float:right;
    text-align: left;
    width: 320px;
    overflow-x: hidden;
    position: relative;
    top: -17px;
}
label{
    font-size:34px;
    position: relative;

}
#username-textbox{
    resize:none;
    border: 1px solid #3F4038;
    border-radius: 5px;
    -moz-border-radius: 5px;
    height: 27px;
    width: 200px;
    font-size: 19px;
    padding: 5px 5px 0 5px;
}
#submit-username{
    background-color: #62BECB;
    border: 2px solid #3F4038;
    color: white;
    width: 74px;
    height: 36px;
    position: relative;
    font-size: 18px;
    
    border-radius: 5px;
    moz-border-radius: 5px;
}
#loginBox {
    background-color: #003366;
    border:3px solid #f2e9e1;
    border-radius:5px;
    -moz-border-radius:5px;
    margin:10px auto;
    padding:10px 10px;
    width:500px;
}
#body{
    margin:10px auto;
    padding-top:75px;

}
#toplist-container{
    padding-top: 5px;
    height: 550px;
    overflow-y: hidden;
    background-color: #000306;
}
.inline{
    display: inline;
}
.artist-name{
    text-align: center;
    border: 3px solid #62BECB;
    width: 200px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    background-color: #62BECB;
    color: #000306;
    left: 45px;
    position: relative;
}
.toplist-item{
    clear: both;
}
.rank-num{
    width: 45px;
    text-align: center;
    float: left;
}
.artist-bar{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 885px;
    float: left;
    height: 40px;
    border: 2px solid #62BECB;
    margin-bottom: 10px;
}
.user-div{
    float: left;
    height: 100%;
}
.username{
    position: relative;
    top: 11px;
}
#user-palette{
    float: left;
    position: relative;
    right: 10px;
}
.user-color{
    width: 30px;
    height: 20px;
    border: 1px solid black;
}
.playcount{
    float: left;
    width: 100px;
}
.trackname{
    margin-left: 250px;
    text-align: left;
    
}
.duration-str{
    float: left;
    width: 100px;
}
.duration-bar{
    height:5px;
    background-color: lime;
}
.selected{
    height: 32px;
    background-color: blue;
    border: 4px solid black;
    box-shadow: 4px 4px 8px white;
}
#nav-btns{
    float: right;
}
.nav-btn{
    height: 50px;
    width: 50px;
    background-color: #AE76F0;
    border: 3px solid black;
    margin: 62px 0 15px 5px;
}
#nav-up{
    background-image: url('/site_media/up.png');
}
#nav-down{
    background-image: url('/site_media/down.png');
}
#nav-top{
    background-image: url('/site_media/top.png');
}
#nav-bot{
    background-image: url('/site_media/bot.png');
}
#player{
    margin: auto;
    position: relative;
    width: 1000px;
}

#lastfmUser {
    color:#1C140D;
    border:5px solid #9fddf2;
    border-radius:3px;
    -moz-border-radius:3px;
    font:normal 16px Helvetica, Arial, sans-serif;
    padding:8px 3px;
    width: 350px;
}

#header {
    font:bold 28px Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#footer {
    margin-top:-125px;
    text-align:center;
}
#spacing {
    padding-top:15px;
}
#container {
    background-color: #1c140d;
    box-shadow: 3px 3px 4px #1c140d;
    -webkit-box-shadow: 3px 3px 4px #1c140d;
    -moz-box-shadow: 3px 3px 4px #1c140d;
    text-align:center;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 100px;
    margin-bottom: 100px;
    padding-top:40px;
}
.artist_container {
  background-color: #1c140d;
  -moz-box-shadow: inset 0px 0px 5px #888;
  -webkit-box-shadow: inset 0px 0px 5px #888;
  box-shadow: inset 0px 0px 5px #888;
  margin: 10px 0px 15px 0px;
  padding: 5px 5px 5px 5px;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-topleft: 1em;
  -webkit-border-radius-topright: 1em;
  -webkit-border-radius-topleft: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

body {
    background-color: #3F4038;
    color: #ffffff;
    font:normal 14px Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#h2 {
  font:normal 22px Helvetica, Arial, Verdana, Tahoma, sans-serif;
  margin-bottom: 5px;
}
html {height: 100%;}
/*
    
    margin:0px auto;
    
    
    
    
    
    

  Variable Grid System (Fluid Version).
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

  Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
  width:6.333%;
}

.container_12 .grid_2 {
  width:14.667%;
}

.container_12 .grid_3 {
  width:23.0%;
}

.container_12 .grid_4 {
  width:31.333%;
}

.container_12 .grid_5 {
  width:39.667%;
}

.container_12 .grid_6 {
  width:48.0%;
}

.container_12 .grid_7 {
  width:56.333%;
}

.container_12 .grid_8 {
  width:64.667%;
}

.container_12 .grid_9 {
  width:73.0%;
}

.container_12 .grid_10 {
  width:81.333%;
}

.container_12 .grid_11 {
  width:89.667%;
}

.container_12 .grid_12 {
  width:98.0%;
}



/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
  padding-left:8.333%;
}

.container_12 .prefix_2 {
  padding-left:16.667%;
}

.container_12 .prefix_3 {
  padding-left:25.0%;
}

.container_12 .prefix_4 {
  padding-left:33.333%;
}

.container_12 .prefix_5 {
  padding-left:41.667%;
}

.container_12 .prefix_6 {
  padding-left:50.0%;
}

.container_12 .prefix_7 {
  padding-left:58.333%;
}

.container_12 .prefix_8 {
  padding-left:66.667%;
}

.container_12 .prefix_9 {
  padding-left:75.0%;
}

.container_12 .prefix_10 {
  padding-left:83.333%;
}

.container_12 .prefix_11 {
  padding-left:91.667%;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
  padding-right:8.333%;
}

.container_12 .suffix_2 {
  padding-right:16.667%;
}

.container_12 .suffix_3 {
  padding-right:25.0%;
}

.container_12 .suffix_4 {
  padding-right:33.333%;
}

.container_12 .suffix_5 {
  padding-right:41.667%;
}

.container_12 .suffix_6 {
  padding-right:50.0%;
}

.container_12 .suffix_7 {
  padding-right:58.333%;
}

.container_12 .suffix_8 {
  padding-right:66.667%;
}

.container_12 .suffix_9 {
  padding-right:75.0%;
}

.container_12 .suffix_10 {
  padding-right:83.333%;
}

.container_12 .suffix_11 {
  padding-right:91.667%;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
  left:8.333%;
}

.container_12 .push_2 {
  left:16.667%;
}

.container_12 .push_3 {
  left:25.0%;
}

.container_12 .push_4 {
  left:33.333%;
}

.container_12 .push_5 {
  left:41.667%;
}

.container_12 .push_6 {
  left:50.0%;
}

.container_12 .push_7 {
  left:58.333%;
}

.container_12 .push_8 {
  left:66.667%;
}

.container_12 .push_9 {
  left:75.0%;
}

.container_12 .push_10 {
  left:83.333%;
}

.container_12 .push_11 {
  left:91.667%;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
  left:-8.333%;
}

.container_12 .pull_2 {
  left:-16.667%;
}

.container_12 .pull_3 {
  left:-25.0%;
}

.container_12 .pull_4 {
  left:-33.333%;
}

.container_12 .pull_5 {
  left:-41.667%;
}

.container_12 .pull_6 {
  left:-50.0%;
}

.container_12 .pull_7 {
  left:-58.333%;
}

.container_12 .pull_8 {
  left:-66.667%;
}

.container_12 .pull_9 {
  left:-75.0%;
}

.container_12 .pull_10 {
  left:-83.333%;
}

.container_12 .pull_11 {
  left:-91.667%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
