{% load tags %}
<!doctype html>
<html>
    <head>
        <title>Pylist</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
        <link href="/site_media/style.css" type="text/css" media="screen" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="/site_media/pylist.js"></script>
    </head>
    
    <body>
        <div class="header">
            <span>Sup. This is the header.</span>
            <span>Top 100</span>
        </div>
        <div class="spacer"></div>
        <div class="maindiv username-entry">
            <form id="username-form">
                <div class="error"></div>
                <label for="username">Last.fm Username: </label>
                <input name="username" id="username-textbox" type="text"></textarea>
                <input name="username" type="submit" value="Submit" id="submit-username"></input>
            </form>
        </div>
        <div class="spacer username-entry"></div>
        <div class="maindiv gui">
            <div id="user-palette"></div>
            <div id="toplist-container">
                <img src="/site_media/ajax-loader.gif" id="loading-icon" style="display:none;"></img>
                {% for i in 100|get_range %}
                    {% include "lfm/toplist_item.html" %}
                {% endfor %}
            </div>
            <div class="detailed-hud"></div>
        </div>
    </body>
</html>