{% load tags %}
<!doctype html>
<html>
    <head>
        <title>Pylist</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
        <link href="/site_media/style.css" type="text/css" media="screen" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>
        <script type="text/javascript" src="/site_media/pylist.js"></script>
    </head>
    
    <body>
        <div class="header">
            <span>Sup. This is the header.</span>
            <span>Top 100</span>
            <div id="displayInfo"></div>
        </div>
        <div class="spacer"></div>
        <div class="maindiv username-entry">
            <form id="username-form">
                <div class="error"></div>
                <label for="username">Last.fm Username: </label>
                <input name="username" id="username-textbox" type="text"></textarea>
                <input name="username" type="submit" value="Submit" id="submit-username"></input>
            </form>
        </div>
        <div class="spacer username-entry"></div>
        <div class="maindiv gui">
            <div id="user-palette">
                <div class="palette-all">
                    <div class="user-color clickable checked" title="All Users"></div>
                </div>
            </div>
            <div id="nav-btns">
                <div class="youtube-nav" id="youtube-maximize">+</div>
                <div class='nav-btn' id="nav-top"></div>
                <div class='nav-btn' id="nav-up"></div>
                <div class='nav-btn' id="nav-down"></div>
                <div class='nav-btn' id="nav-bot"></div>
            </div>
            
            <div id="primary-container">
                <div id="youtube-container" style="display:none;">
                    <div class="youtube-nav" id="youtube-close">X</div>
                    <div class="youtube-nav" id="youtube-minimize">-</div>
                    <div id="player"></div>
                </div>
                <div id="toplist-container">
                    
                    <img src="/site_media/ajax-loader.gif" id="loading-icon" style="display:none;"></img>
                    {% for i in 100|get_range %}
                        {% include "lfm/toplist_item.html" %}
                    {% endfor %}
                </div>
            </div>
            <div class="playlist-container">
                <div id="playlist-controls">
                    <div class="playlist-nav clickable" id="playlist-save">Save Playlist</div>
                    <div class="playlist-nav clickable" id="playlist-load">Load Playlist</div>
                </div>
                <div class="clear"></div>
                <div class="playlist"></div>
            </div>
            <div class="detailed-hud"></div>
            <div id="playlist-form">
                <div class="playlist-form-header">
                    Playlist
                    <div class="youtube-nav" id="playlist-form-close">X</div>
                </div>
                <div class="playlist-form-list playlist-form-contents">
                </div>
                <div class="playlist-form-form playlist-form-contents">
                    <form id="playlist-save-form">
                        <div class="error"></div>
                        <label for="playlist-name">Playlist Name: </label>
                        <input name="playlist-name" id="playlist-textbox" type="text"></textarea>
                        <input name="playlist-name" type="submit" value="Save" id="submit-playlist"></input>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>